.python-version
__pycache__
.ruff_cache/
*.pyc
.venv
*.egg-info*
.coverage
*.pytest_cache
*.mypy_cache
.python-version
*.pkl

# macOS
*.DS_Store
__MACOSX/

*.idea
mlruns/
deployment_mlruns/served_model/
!/deployment_mlruns/.gitkeep
!/deployment_mlruns/promotion_metadata.json

