.python-version
__pycache__
*.pyc
.venv
*.egg-info*
.coverage
*.pytest_cache
*.mypy_cache
.python-version
*.pkl
*.DS_Store
*.idea
mlruns/
deployment_mlruns/served_model/
!/deployment_mlruns/.gitkeep
!/deployment_mlruns/promotion_metadata.json

